.liked{
    background-color: transparent;
    font-size: 15px;
    color: green;
    height: 50px;
    width: 50px;
    border: none;
}

.hated{
    background-color: transparent;
    font-size: 15px;
    color: red;
    height: 50px;
    width: 50px;
    border: none;
}


.not-liked{
    background-color: transparent;
    font-size: 15px;
    color: white;
    height: 50px;
    width: 50px;
    border: none;
}

.not-hated{
    background-color: transparent;
    font-size:15px;
    color: white;
    height: 50px;
    width: 50px;
    border: none;
    z-index: 10;
}

.remove{
    background-color: transparent;
    font-size: 15px;
    color: white;
    height: 50px;
    width: 50px;
    border: none;
    z-index: 10;

}

.not-liked:hover,
.not-hated:hover,
.remove:hover{
    transform: scale(1.2);
}

#like-button{
    background-color: white;
    color: white;
}
