.liked{
    background-color: green;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
}

.hated{
    background-color: red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
}

.not-liked{
    border: 1px solid green;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.not-hated{
    border: 2px solid red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.remove{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 2px solid gold;
}
