#vids-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    object-fit: contain;
}

#vids-comedy{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    text-align: center;
    object-fit:contain;
}

.each-vid{
    margin-left: 25px;
}

.rating-buttons{
    display: flex;
    justify-content: space-around;
}
