#profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profiles-content{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#add-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#add-profile input{
    border: 2px solid #E50419;
    height: 30px;
    font-size: 20px;
    background-color: black;
    color: white;
}

.form-submit{
    width: 100px;
    font-size: 20px;
    margin-top: 10px;
}

.error{
    color: red;
}
