#profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profiles-content{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#add-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#add-profile input{
    border: 2px solid #E50419;
}

.error{
    color: red;
}
